@import '/src/constants.scss';
.StackedBarChart {
  & td {
    padding: 0;
    border: none;
  }
  & th {
    border: none;
    text-align: left;
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      // underline
      text-decoration: underline;
    }

    & span {
      // line-height: 36px;
      vertical-align: middle;
      display: inline-block;
      & .icon {
        // position: relative;
        // top: -12;
        font-size: 12px;
        margin-left: 6px;
      }
    }
  }
  & .grouplabel {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding-right: 10px;
  }
  & .grouptotal {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    text-align: right;
  }
  & .bar {
    // filter: opacity(75%);
    display: inline-block;
    transition: 0.2s;
    &:hover {
      // filter: drop-shadow(0px 0px 2px);
      filter: drop-shadow(0px 0px 2px $neutral);
      z-index: 1;
    }
    padding-left: 5px;
  }
}
