# .cursorrules

Components & Naming

- Use functional components with `"use client"` if needed.
- Name in PascalCase under `src/components/`.
- Keep them small, typed with interfaces.
- Prioritize readability over brevity.

Data

- Manage data with Jotai.
- Each atom has its own file in `src/atoms`, in camelCase.
- Almost all atoms are async.
- Each atom file has an output interface defined at the top of the file.
- Use highly readable and logical code to implement atoms, don't be afraid to add comments.
- Do the processing directly, don't use alasql or any other library to process data.

Icons

- Prefer `Material-UI` icons; name icons in PascalCase.
- Custom icons in `src/components/Icons`.

TypeScript & Syntax

- Strict mode. Avoid `any`.
- Use optional chaining, union types (no enums).
- Export variables directly, don't use `export default`.

File & Folder Names

- Shared types in `src/lib/types.ts`.
- Sort imports (external → internal → sibling → styles).

Additional

- Keep code short; commits semantic.

IMPORTANT:
- When given a task, always restate the task in your own words, and then ask for confirmation.
- Then, provide a few high level options for how to complete the task, and ask for the best option.
- Before you make any changes, always write a detailed, step-by-step plan for the changes you're going to make in `.cursor-tasks` in markdown format, including the objective and an outline of the steps you'll take, and then ask for confirmation.
- After all changes are made, ALWAYS build the project with `npm run build`. Ignore warnings, fix errors.