node_modules/
dist/
mongoose.exe
.vscode/ # See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.devenv*
devenv.local.nix
package-lock.json


codebase.txt
*storybook.log

# Added by Claude Task Master
# Logs
logs
*.log
dev-debug.log
# Dependency directories
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific

# Added by Task Master AI
# Task files
tasks.json
tasks/ 

package-lock.json
storybook-static

scrimsight.xml

# Analysis
analysis/data/*.csv
analysis/venv/
.ipynb_checkpoints/