@import '../../constants.scss';

.ReportPage {
  & .container {
    padding: 10px $hpadding;
  }

  & .componentplaceholder {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid $neutral;
  }

  & .toplinecontainer {
    background-color: $mid;
    padding: 10px $hpadding;
    padding-bottom: 70px;
  }

  & .emphasizedcontainer {
    margin-top: -60px;
    height: 120px;
  }
}
