.Block {
    background: #444444bb;
    /* border-radius: 5px; */
    color: rgb(236, 236, 236);
    padding: 10px;
    min-height: 300px;
    margin: 10px;
}

.BlockTitle {
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    opacity: 0.80;
}