
.wrapper {
    /* box-shadow: inset 0 0 100px 5px #111; */
    height: 100%;
    z-index: 0;
    color: #283044;
    font-family: Varela Round, sans-serif;
}


html, body, #root {
    height: 100%;
}

span.scrim {
    color: #278CBA;
}
