@use '../../constants.scss';


.pie-chart-container {
    margin: 40px;
}

.tooltip {
    background-color: $mid;
    // mouse-events: none;
 & .label {
    color: $background;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: Roboto, sans-serif;
 }
 
}