.Playerpage-container { 
    padding: 20px;
    // overflow: hidden;
}

.Playerpage-right { 
    // right side of the page
    
    float: right;
    // resize: horizontal;
    overflow : hidden;
    
    &.expanded {
        width: 80%;
        border: 1px solid #ccc;
    }
    width: 0;
}

.Playerpage-left { 
    width: auto;
    overflow: hidden;
}