.MetricCard {
    position: relative;
    display: inline-block;
    // center content
    text-align: center;
    overflow: visible;
    min-width: 200px;
    min-height: 200px;

    & .metric-value {
        margin: 5px;
    }

    & .metric-card-action-area {

        padding: 15px;
    }
}