@import 'constants.scss';

.MetricExplorer {
  & .controls {
    margin-bottom: 15px;
    & .control {
      margin-bottom: 5px;
      color: $neutral;
    }
  }
}

.MetricSelect {
  line-height: 70px;
}
