.AllMapsPage {
margin-left: min(20%, 400px);
margin-right: min(20%, 400px);
}

.filters {
  margin-top: 100px;
  margin-bottom: 20px;
  display: inline-block;
  height: 70%;
}

.filters button {
  margin-right: 20px;
}

.uploadbutton {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  color: grey;
  border-color: grey;
}

.rightwrapper {
  display: inline-block;
  height: 70%;
}