.SignupFlow {
    /* background-image: url('../../img/fullpage/cree.jfif'); */
    height: 100%;
    width: 100%;
    
    /* padding-top: 25%; */
}

.inputwrapper {
    width: 100%;
    /* text-align: center; */
    /* background-color: #0c176b; */
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}

.inputwrapper button {
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    margin: 30px;
}

.inputwrapper input {
    color: black;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
}