@use '../../constants.scss';

.home-dashboard > .dashboard-item.primary::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  top: 5px;
  left: 5px;
  border-radius: inherit;
  background: repeating-linear-gradient(
    45deg,
    constants.$primary,
    constants.$primary 2px,
    transparent 2px,
    transparent 6px
  );
  transition: all 0.3s ease;
}

.home-dashboard > .dashboard-item.primary:hover::before {
  top: 10px;
  left: 10px;
}

.home-dashboard > .dashboard-item.secondary:hover::before {
  top: 10px;
  left: 10px;
}


.home-dashboard > .dashboard-item.secondary::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  top: 5px;
  left: 5px;
  border-radius: inherit;
  background: repeating-linear-gradient(
    45deg,
    constants.$secondary,
    constants.$secondary 2px,
    transparent 2px,
    transparent 6px
  );
  transition: all 0.3s ease;
}