.MapLink {
    color: #ccc;
}

.teamName {
    font-size: 35px;
    margin-top: 5px;
}

.team1 {
    color: #1A8FE3;
    height: 50px;
}

.team2 {
    color: #d11149;
    height: 50px;
}

.wrap {
    overflow-wrap: anywhere;
    height: 50px;
    padding-top: 3px;
}

.player {
    line-height: 120%;
}