@import '../../constants.scss';

.ViewSelect {
  position: absolute;
  top: 0;
  left: -120px;
}

.ViewSelect__item {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   display: inline-block;
  //   float: right;
  //   width: 100%;
  //   text-align: end;
  //   line-height: 40px;
  //   font-size: 80px;
  color: $light;
  transition: all 0.2s ease-in-out;

  &.selected {
    color: $dark;
  }
}
