$dark: #000000;
$mid: #363636;
$neutral: #5e5e5e;
$light: #b4b4b4;
$highlight: #fa9c1d;
$background: #f3f3f3;

$min_width: 500px;
$col_width: 80%;
$hpadding: calc((100% - #{$col_width}) / 2);

// hero colors
$ana: #718ab3;
$bastion: #7c8f7b;
$brigitte: #be736e;
$baptiste: #fea350;
$dva: #ed93c7;
$doomfist: #815049;
$echo: #31a5cc;
$genji: #97ef43;
$hanzo: #b9b48a;
$junkrat: #ecbd53;
$lucio: #85c952;
$cassidy: #ae595c;
$mei: #6faced;
$mercy: #ebe8bb;
$moira: #803c51;
$orisa: #468c43;
$pharah: #3e7dca;
$reaper: #7d3e51;
$reinhardt: #929da3;
$roadhog: #b68c52;
$soldier76: #697794;
$sombra: #7359ba;
$symmetra: #8ebccc;
$torbjorn: #c0726e;
$tracer: #d79342;
$widowmaker: #9e6aa8;
$winston: #a2a6bf;
$zarya: #e77eb6;
$zenyatta: #ede582;
