
$dark: #000000;
$mid: #363636;
$neutral: #5e5e5e;
$light: #b4b4b4;
$highlight: #fa9c1d;
$background: #f9f9f9;
$primary: #18d3e6;
$secondary: #db7f67;


$min_width: 500px;
$col_width: 80%;
$hpadding: calc((100% - #{$col_width}) / 2);

// hero colors
$ana: #718ab3;
$ashe: #f3d19c;
$bastion: #7c8f7b;
$brigitte: #be736e;
$baptiste: #fea350;
$dva: #ed93c7;
$doomfist: #815049;
$echo: #31a5cc;
$genji: #97ef43;
$hanzo: #b9b48a;
$junkrat: #ecbd53;
$lucio: #85c952;
$cassidy: #ae595c;
$mei: #6faced;
$mercy: #ebe8bb;
$moira: #803c51;
$orisa: #468c43;
$pharah: #3e7dca;
$reaper: #7d3e51;
$reinhardt: #929da3;
$roadhog: #b68c52;
$soldier76: #697794;
$sombra: #7359ba;
$sigma: #7aa3b9;
$symmetra: #8ebccc;
$torbjorn: #c0726e;
$tracer: #d79342;
$widowmaker: #9e6aa8;
$winston: #a2a6bf;
$wreckingball: #c09e74;
$zarya: #e77eb6;
$zenyatta: #ede582;

$colors: ('ana': $ana,
    'ashe': $ashe,
    'bastion': $bastion,
    'brigitte': $brigitte,
    'baptiste': $baptiste,
    'dva': $dva,
    'doomfist': $doomfist,
    'echo': $echo,
    'genji': $genji,
    'hanzo': $hanzo,
    'junkrat': $junkrat,
    'lucio': $lucio,
    'cassidy': $cassidy,
    'mei': $mei,
    'mercy': $mercy,
    'moira': $moira,
    'orisa': $orisa,
    'pharah': $pharah,
    'reaper': $reaper,
    'reinhardt': $reinhardt,
    'roadhog': $roadhog,
    'soldier76': $soldier76,
    'sombra': $sombra,
    'sigma': $sigma,
    'symmetra': $symmetra,
    'torbjorn': $torbjorn,
    'tracer': $tracer,
    'widowmaker': $widowmaker,
    'winston': $winston,
    'wreckingball': $wreckingball,
    'zarya': $zarya,
    'zenyatta': $zenyatta,
    'damage': #b65153,
    'tank': #4a7c9a,
    'support': #3c912b,
    'healing': #d7ae0b,
    'damageTaken': #903737,
    'healingTaken': #af684c,
    'team-1': #566fdd,
    'team-2': #c76756,
    'final-blows': #fc4040,
    'elimination': #d393b1,
    'deaths': #a89595,
    'health': #f4d03f,
    'color-1': #566fdd,
    'color-2': #7f91e0,
    'color-3': #a8b3e3,
    'color-4': #c8d5e6,
    'color-5': #e8f0f9,
    'color-6': #f7dada,
    'color-7': #f7b8b8,
    'color-8': #f79494,
    'color-9': #f67272,
    'color-10': #f55f5f,
    'color-11': #f44b4b,
    'color-12': #f33333,
    'increase': #286b28,
    'decrease': #ac1a1a,
  );