$dark: #3f51b5;
$mid: #859ec0;
$neutral: #e7ecf3;
$light: #f9fcff;
$highlight: #ee6c4d;
$text: #333;

$min_width: 500px;
$col_width: 100%;
$hpadding: calc((100% - #{$col_width}) / 2);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $neutral;

  padding-top: 0px;
  padding-left: $hpadding;
  padding-right: $hpadding;
  min-width: $min_width;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// input[type="button"] {
//   border: 1px solid $dark;
//   color: $dark;
//   border-radius: 15px;
//   // line-height: $;
//   height: 30px;
//   padding-left: 7px;
//   padding-right: 7px;
//   margin: 5px;
//   background-color: $light;
//   &:hover {
//     color: $highlight;
//     border-color: $highlight;
//   }
// }

.summary {
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

div > label.MuiButtonBase-root {
  // border: 1px solid $mid;
  // background-color: $neutral;
  // padding: 10px;
  margin-right: 10px;
}

.App {
  color: $text;

  &.div {
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: $light;
    padding: 5px;
  }
}

.filters {
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid $mid;
  padding: 5px;
}

.logoicon {
  height: 50px;
}

.logo {
  font-size: 17px;
  font-weight: bold;
  margin-left: 25px;
}

.navbuttons {
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 8px;
}

.eventscope {
  padding: 10px;

  // > * {
  //   margin: 5px;
  // }
}

table {
  margin: 10px 0px;
}

.pageSizeSelect {
  width: 100px;
  > div {
    font-size: 13px;
    color: $dark;
  }
  height: 36.5px;
  // font-size: 10px;
  color: $dark;
}

#demo-simple-select-label {
  display: none;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #9da7da !important;

  // border: 5px solid $dark;
}

.fields {
  > * {
    margin-right: 10px;
  }
}

div.tablecontrols > * {
  margin-right: 10px;
}

.viewselector {
  // float: inline-end;
  background-color: $light;
  float: right;
}

.viewselectorwrapper {
  overflow: hidden;
}

.addview {
  text-align: center;
}

.histogram .datapoint {
  fill: $mid;
  &:hover {
    fill: $highlight;
  }
}

.MuiButton-root {
  &.dark {
    background-color: $dark !important;
  }

  &.filterButton {
    // background-color: $neutral !important;
    margin: 3px;
    padding: 5px;
  }

  &.filterButton.selected {
    background-color: $dark !important;
    color: white !important;
  }
}

.popover-content {
  padding: 10px;
}

.axis {
  stroke: $mid;
}

.axis-label {
  fill: $mid;
  font-size: 12px;
}

.selection {
  opacity: 0.3;
  fill: $highlight;
  stroke: 2px solid $dark;
  pointer-events: none;
}

.dataplot {
  padding: 10px;
  .datapoint {
    // fill: $mid;
    &:hover {
      fill: $highlight;
    }
  }
}

.mapoverlaycontainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
  & img {
    // display: block;
    // max-width: 100%;
    // height: auto;
  }

  & svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.filterButtonGroup {
  max-width: 500px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.MuiOutlinedInput-root {
  height: 36.6px;
  display: inline-block;
  margin-left: 10px;
}

.DataTable-controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.FieldPopover-root {
  margin: 5px;
}

.FieldPopover-description {
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin: 5px;
}

.RangeSelector-root {
  margin: 5px;
  margin-top: 20px;
}
.RangeSelector-axis {
  stroke: $mid;
}

.RangeSelector-selected {
  stroke: $dark;
}

.RangeSelector-edge {
  stroke: $highlight;
  fill: $highlight;
}

.RangeSelector-label {
  stroke: $dark;
  font-size: 14px;
}

.header {
  display: flex;
}
.zero-state-view {
  padding: 10% 30%;
  text-align: center;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
