$dark: #000000;
$mid: #363636;
$neutral: #5e5e5e;
$light: #b4b4b4;
$highlight: #3c006d;
$background: #f3f3f3;

$min_width: 500px;
$col_width: 80%;
$hpadding: calc((100% - #{$col_width}) / 2);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  color: $mid;
  padding-top: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// input[type="button"] {
//   border: 1px solid $dark;
//   color: $dark;
//   border-radius: 15px;
//   // line-height: $;
//   height: 30px;
//   padding-left: 7px;
//   padding-right: 7px;
//   margin: 5px;
//   background-color: $light;
//   &:hover {
//     color: $highlight;
//     border-color: $highlight;
//   }
// }

.summary {
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

div > label.MuiButtonBase-root {
  // border: 1px solid $mid;
  // background-color: $neutral;
  // padding: 10px;
  margin-right: 10px;
}

.App {
  &.div {
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: $light;
    padding: 5px;
  }
}

.filters {
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid $mid;
  padding: 5px;
}


.logo {
  font-size: 17px;
  font-weight: bold;
  margin-left: 25px;

  &:hover {
    cursor: pointer;
  }
}

.navbuttons {
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 8px;
}

table {
  margin: 10px 0px;
}

.pageSizeSelect {
  width: 100px;
  > div {
    font-size: 13px;
    color: $dark;
  }
  height: 36.5px;
  // font-size: 10px;
  color: $dark;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #9da7da !important;

  // border: 5px solid $dark;
}

.fields {
  > * {
    margin-right: 10px;
  }
}

div.tablecontrols > * {
  margin-right: 10px;
}

.viewselector {
  // float: inline-end;
  background-color: $light;
  float: right;
}

.viewselectorwrapper {
  overflow: hidden;
}

.addview {
  text-align: center;
}

.histogram .datapoint {
  fill: $mid;
  &:hover {
    fill: $highlight;
  }
}

.MuiButton-root {
  &.dark {
    background-color: $dark !important;
  }

  &.filterButton {
    // background-color: $neutral !important;
    margin: 3px;
    padding: 5px;
  }

  &.filterButton.selected {
    background-color: $dark !important;
    color: white !important;
  }
}

.popover-content {
  padding: 10px;
}

.axis {
  stroke: $mid;
}

.axis-label {
  fill: $mid;
  font-size: 12px;
}

.selection {
  opacity: 0.3;
  fill: $highlight;
  stroke: 2px solid $dark;
  pointer-events: none;
}

.dataplot {
  padding: 10px;
  .datapoint {
    // fill: $mid;
    &:hover {
      fill: $highlight;
    }
  }
}

.mapoverlaycontainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
  & img {
    // display: block;
    // max-width: 100%;
    // height: auto;
  }

  & svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.filterButtonGroup {
  max-width: 500px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.MuiOutlinedInput-root {
  height: 36.6px;
  display: inline-block;
  margin-left: 10px;
}

.DataTable-controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.FieldPopover-root {
  margin: 5px;
}

.FieldPopover-description {
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin: 5px;
}

.RangeSelector-root {
  margin: 5px;
  margin-top: 20px;
}
.RangeSelector-axis {
  stroke: $mid;
}

.RangeSelector-selected {
  stroke: $dark;
}

.RangeSelector-edge {
  stroke: $highlight;
  fill: $highlight;
}

.RangeSelector-label {
  stroke: $dark;
  font-size: 14px;
}

.header {
  display: flex;
}


.Uploader-progresscontainer {
  width: 500px;
  // height: 300px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.Home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.NavCard {
  flex: 0 0 200px;
  // height: 300px;
  border-radius: 5px;
  border: 1px solid $light;
  margin: 10px;
  padding: 10px;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 1px 1px 5px $light;
  }

  & .NavCard-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $dark;
  }

  & .NavCard-img {
    width: 100%;
    height: auto;
  }
}

.Maps {
  & .Maps-teamName {
    color: $dark;
    font-size: 20px;
  }

  & .Maps-container {
    display: flex;
    flex-direction: column;
    padding-left: $hpadding;
    padding-right: $hpadding;
    min-width: $min_width;
  }

  & .Maps-datedivider {
    color: $neutral;
    font-variant: small-caps;
    margin: 10px 0px;
  }
}

.MapRow {
  border-radius: 5px;
  border: 1px solid $light;
  $maprow-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.1s ease-in-out;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px $light;

  &:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 1px 1px 10px $light;
    border: 1px solid $highlight;
  }

  & .MapRow-image {
    height: $maprow-height;
    & img {
      width: auto;
      height: 100%;
    }
    // padding-right: 10px;
  }

  & .MapRow-name {
    font-size: 20px;
    font-weight: bold;
    color: $dark;
    width: 200px;
    line-height: $maprow-height;
}

  & .MapRow-teams-col {
    height: $maprow-height;
    line-height: $maprow-height / 2;
    width: 200px;
  }

  & .MapRow-player {
    line-height: $maprow-height / 5;
  }

  & .MapRow-topmargin {
    margin-top: 14px;
  }

  & .role-icon {
    height: 14px;
    position: relative;
    top: 1px;
    fill: $neutral;
    stroke: $neutral;
  }
}