@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import './tabulator_simple.css';

$background: #cbdbeb;
$highlight: #f5a101;
$neutral: #fcf8f7;
$dark: #2f3336;
$althighlight: #86e4f0;

$cardwidth: 300px;
$cardrightmargin: 50px;
$borderwidth: 0px;
$hpadding: calc(5vw);
$cellpadding: 25px;
$vpadding: 50px;
$leftcolwidth: 300px;
$rightcolwidth: calc(
  100% - #{$leftcolwidth} - 4 * (#{$cellpadding} + #{$borderwidth})
);
$toprowheight: 200px;
$bottomrowheight: calc(100vh - 3 *#{$vpadding} - #{$toprowheight});

body {
  background-color: $neutral;
  padding-top: $vpadding;
  font-family: "Montserrat", sans-serif;
}

.row {
  width: calc(100% - 2 *#{$hpadding});
  padding: 0 $hpadding;
}

// .toprow {
//     height: $toprowheight;
// }

// .bottomrow {
//     height: $bottomrowheight;
// }

.leftcol {
  border: $borderwidth solid $dark;
  width: $leftcolwidth;
  color: $dark;
  padding: $cellpadding;
  float:left;
}

.rightcol {
  width: $rightcolwidth;
  // padding: $cellpadding;
  border: $borderwidth solid $dark;
  float: right;
}

.hidden {
  display: none;
}

.uploadmodalcontainer {
  background-color: rgba(30, 30, 30, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uploadmodal {
  background-color: $neutral;
  width: 400px;
  height: 200px;
  margin: 200px auto 0;
  padding: 25px;
}

button {
  border: 1px solid $dark;
  border-radius: 10px;
  background-color: $neutral;
  color: $dark;
  // box-shadow: 0 0 10px rgb(155, 136, 107);
  // font-size: 25px;
  font-weight: bold;
  padding: 4px;
  background-color: $dark;
  color: $neutral;
  &:hover {
    animation-name: test;
    animation-duration: 250ms;
    background-color: $althighlight;
    color: $dark;
  }
}


button.uploadbutton {
  font-size: 25px;
  line-height: 50px;
  position: relative;
  margin: 0 auto;
  width: 62px;
  padding: 5px;
  margin-bottom: 15px;
  display:inherit;
  

  
}

@keyframes test {
  0% { background-color: $dark; color: $neutral; }
  100% { background-color: $althighlight; color: $dark; }
}

.uploadbuttoncontainer {
  $toppadding: 70px;
  width: 150px;
  display: inline-block;
  // position: relative;
  // transform: translateY(-50%);
  // top: 50%;
  height: calc(#{$toprowheight} - #{$toppadding});
  background-color: $neutral;
  padding-top: $toppadding;
  position: absolute;
  
}

.uploadlabel {
  width: 150px;
  text-align: center;
  font-size: 15px;
  // margin-bottom: calc(#{$toprowheight} / 2 - 25px);
}

.navlist {
  list-style-type: none;
  padding-left: 0;
}

.navitem {
  margin-top: 5px;
}

.logo {
  font-size: 30px;
}

.mapnav {
  float: right;
  position: relative;
  margin-right: calc(#{$hpadding});
}

.content {
  width: 100%;
  height: $bottomrowheight;
  border: 1px solid $althighlight;
}

.mapcard {
  height: 200px;
  width: $cardwidth;
  // border: 1px solid $highlight;
  float: right;
  margin-right: $cardrightmargin;
  background-size: cover;
  display: inline;
}

.mapcardlijiang {
  background-image: url("./img/maps/lijiang-tower.jpg");
}

.mapcardblizz {
  background-image: url("./img/maps/blizzard-world.jpg");
}

.mapcardbusan {
  background-image: url("./img/maps/busan.jpg");
}

.maphistorysmall {
  display: inline-block;
  height: 200px;
}

.debug {
  width: 700px;
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  background-color: rgb(209, 209, 209);

  &.closed {
    right: -650px;
  }
}