.Navbar {
    /* border-radius: 35px; */
    /* border: 1px solid #8e98b1; */
    /* padding: 10px; */
    /* background-color: #ee964b; */
    /* height: 71px; */
    margin-left:50px;
   /* margin-right:auto; */
    /* display:flex;justify-content:center;align-items:center;width:100%; */
    margin-bottom: 75px;
}

.selectCol{
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    width: 195px;
}

.c1 {
   padding-right: 15px;
}
.c2 {
    padding-left: 15px;
 }


 .uploaddiv {
     display: inline-block;
 }

 .Navbar select {
     height: 50px;
 }
 .Navbar div {
     /* display: inline-block; */
 }